header{padding: 30px;background-color:dimgrey;}
nav ul li {display: inline-block;margin-left:200px;text-decoration: none;color:white ;height: 50px;line-height: 50px;}
main {padding: 20px;margin-left:150px;}
 
#two a{padding: 15px}
main #two{padding: 30px;margin-left:-75px;}
main p a{padding-left: 10px;}
 p {width:450px;position: relative; 
    top: -300px;margin-left:550px;} 
  button{
   margin-top: -150px;margin-left: 500px;color: black;;position:absolute;
   transition: .5s ease;}
 
   /* #right{width: 450px;position: relative;margin-top: 300px;color: black;margin-left: auto;margin-bottom:;transition: .5s ease;} */
footer
 {background-color: dimgrey;height: 100px;clear: both;text-align: centerm;}
